// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// COLORS VARIABLES

$primary: #E59D35;
$primarybackground: #F2F2F0;
$secondarybackground: #D0DE92;
$tertiarybackground: #717B49;
$lightertext: #F2F2F0;
$darkertext: #343C2C;
$darkgreen: #343C2C;
$darkbrown: #3D362D;

// FONTS

$font-family-base: 'Houschka Rounded', sans-serif;

// DROPDOWN

$dropdown-min-width: 5rem;
$dropdown-border-radius: 0;
$dropdown-link-hover-bg: #e59c3580;
$dropdown-link-active-bg: #E59D35;

// THEME COLORS

$theme-colors: (
    "primary": $primary
);

$custom-colors: (
    "primary-background": $primarybackground,
    "secondary-background": $secondarybackground,
    "tertiary-background": $tertiarybackground,
    "lighter-text": $lightertext,
    "darker-text": $darkertext,
    "dark-green": $darkgreen,
    "dark-brown": $darkbrown
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "./mixins";
@include heading1;
@include heading2;
@include heading3;
@include heading4;
@include paragraph;
@include button-primary;
@include button-link;

body {
    background-color: var(--bs-primary-background);
    margin: 0!important;
    padding: 0!important;
}

.pswp__caption {
    display: none;
}

/****************** HEADER ******************/

.header-row {
    padding: 0!important;
}

.header{
    background-color: var(--bs-dark-green);
    position: fixed;
    z-index: 10;

    .image-container{
        background-size: contain;
        height: 75px;
        width: 75%;
    
        img {
            width: 100%;
        }
    }

    .header-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        #primary-menu {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
    
            li {
                margin: 0 15px;
                padding: 0;
    
                a {
                    font-size: 18px;
                    letter-spacing: 0px;
                    color: var(--bs-lighter-text);
                    text-decoration: none;
    
                    &:hover {
                        color: var(--bs-primary);
                    }
                }
            }

            .current-menu-item {
                a {
                    font-size: 18px;
                    letter-spacing: 0px;
                    color: var(--bs-primary);
                    text-decoration: none;
                }
            }
        }
    }

    // HEADER - LANGUAGES

    .languages-container {
        .btn {
            color: var(--bs-lighter-text);
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: var(--bs-primary);
            }

            img {
                width: 35%;
                margin-right: 7px;
            }
        }

        ul {
            color: var(--bs-lighter-text);
            font-size: 18px;

            li {                
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--bs-darker-text);

                    img {
                        width: 40%;
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    // ACCOUNT AND CART
    .account-icon-container {
        a {
            color: var(--bs-primary-background);
            font-size: 25px;

            &:hover {
                color: var(--bs-primary);
            }
        }
    }

    .cart-icon-container {
        a {
            color: var(--bs-primary-background);
            font-size: 25px;

            &:hover {
                color: var(--bs-primary);
            }
        }
    }
}

/****************** MOBILE HEADER ******************/

.mobile-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .hamburger div{
        width: 30px;
        height: 3px;
        background: var(--bs-primary-background);
        margin: 5px;
    }

    h4 {
        font-size: 35px;
        letter-spacing: 0px;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 15px 0;
            padding: 0;
            font-size: 25px;

            i {
                margin-right: 10px;
            }

            a {
                width: 100%;
                height: 100%;
                letter-spacing: 0px;
                color: var(--bs-lighter-text);
                text-decoration: none;

                &:hover {
                    color: var(--bs-primary);
                }
            }
        }
    }

    .offcanvas {
        background-color: var(--bs-dark-green);
        color: var(--bs-lighter-text);

        .offcanvas-header {
            .btn-close {
                color: var(--bs-primary-background)!important;
            }
        }

        .offcanvas-body {
            padding: 0 16px 16px 16px;

            .languages-mobile-container {
                display: flex;
                flex-direction: row;
    
                li {                
                    .language {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--bs-lighter-text);
                        font-size: 25px;

                        &:active {
                            background-color: var(--bs-primary);
                        }
    
                        img {
                            width: 50%;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }

    .offcanvas-footer {
        display: flex;
        align-items: center;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }
}

/****************** MY ACCOUNT ******************/

.my-account-container {
    background-color: var(--bs-primary-background);

    .row {
        padding: 30px 0;
    }

    .my-account-content-container{
        .woocommerce-MyAccount-navigation {
            ul {
                list-style: none;
                padding-left: 0;
    
                li {
                    margin: 15px 0;

                    a {
                        color: var(--bs-primary);
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            a {
                color: var(--bs-primary);
                text-decoration: none;
            }
        }
    
        .woocommerce-Address-title {
            h3 {
                font-weight: bold!important;
            }

            a {
                color: var(--bs-primary);
                text-decoration: none;
            }
        }

        form {
            h3 {
                font-weight: bold!important;
            }

            .woocommerce-address-fields {
                button {
                    width: 25%;
                    padding: 10px 25px;
                    margin-top: 10px;
                    border-radius: 24px;
                    font-size: 20px;
                    font-weight: normal;
                    color: var(--bs-lighter-text);
                    background-color: var(--bs-primary);
                }
            }
        }

        .woocommerce-EditAccountForm {
            button {
                width: 25%;
                padding: 10px 25px;
                margin-top: 10px;
                border-radius: 24px;
                font-size: 20px;
                font-weight: normal;
                color: var(--bs-lighter-text);
                background-color: var(--bs-primary);
            } 
        }
    }
}

/****************** HOME - HERO ******************/

.big-hero-component{
    position: relative;
    min-height: 750px;
    background-color: var(--bs-primary-background);
    padding-top: 100px;
    padding-bottom: 50px;

    .big-hero-content-container{
        z-index: 1;
        width: 100%;

        h1 {
            color: var(--bs-lighter-text);
            width: 75%;
        }
    
        p {
            font-size: 18px;
            color: var(--bs-lighter-text);
            width: 65%;
        }

        a {
            .btn-link {
                margin-left: 10px;
            }
        }
    }

    .bg-image-container{
        width: 100%;
        height: 100%;
        position: absolute;
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(50%);
        }
    }
}

/****************** PRIMARY BLOCK ******************/

.primary-block-component {
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .row{
        padding: 30px 0;
          
        .primary-block-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            img {
                width: 100%;
            }
        }

        .primary-block-text-container {
            width: 50%;
            
            h2 {
                color: var(--bs-darker-text);
                text-align: left;
                margin: 0 0 0 10px;
                width: 95%;
            }

            p{
                color: var(--bs-darker-text);
                margin: 20px 0 20px 10px!important;
                width: 95%;
            }
        }
    }
}

/****************** PROMOTION BANNER ******************/

.promotion-banner-component{
    position: relative;
    min-height: 500px;

    .row {
        width: 100%;

        .promotion-banner-content-container{
            z-index: 1;
    
            h2 {
                text-align: center;
                margin-bottom: 15px;
                width: 100%;
                color: var(--bs-lighter-text);
            }
        }
    }

    .bg-image-container{
        width: 100%;
        height: 100%;
        position: absolute;
        transform-origin: top center;
        transform: scale(1.0);
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(60%);
        }
    }
}

/****************** HOME - SHOP INTRODUCTION ******************/

.shop-introduction-component{
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .shop-introduction-container {
        width: 50%;
    
        .shop-introduction-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }
    
            p {
                text-align: center;
                color: var(--bs-darker-text);
                margin: 0;
            }
        }
    }
}

.shop-categories-row {
    .row{
        padding: 30px 0;
    }

    .card-group {
        a {
            display: flex;
            justify-content: center;

            .shop-category {
                background-color: var(--bs-primary-background);
                border: none;
                border-radius: 0;
                width: 95%;
                box-shadow: 0px 8px 24px #00000026;
                transition: transform .2s;
                overflow: hidden;
        
                img {
                    border-radius: 0;
                    height: 100%;
                    transition: transform .5s ease;
                }
    
                &:hover img {
                    transform: scale(1.25);
                }
        
                .card-img-overlay{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding: 0;
    
                    .title-shadow {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        background: transparent linear-gradient(179deg, #07060600 0%, #3D362D 100%) 0% 0% no-repeat padding-box;
    
                        .card-title {
                            color: var(--bs-lighter-text);
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

/****************** HOME - TESTIMONIALS ******************/

.testimonials-component{
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .testimonials-container {
        width: 50%;
    
        .testimonials-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }
    
            p {
                text-align: center;
                color: var(--bs-darker-text);
                margin: 0;
            }
        }
    }

    .tiles-row {
        .row{
            padding: 30px 0;
        }
    
        .card-group {
            padding: 0;

            .tile {
                background-color: var(--bs-tertiary-background);
                border: none;
                border-radius: 0;
                width: 95%;
                box-shadow: 0px 8px 24px #00000026;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .card-body {
                    padding: 30px;
    
                    .testimonial-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        img {
                            padding: 30px;
                        }
                    }
        
                    .card-text {
                        color: var(--bs-lighter-text);
                        text-align: center;
                        height: 162px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
        
                    .testimonial-author {
                        color: var(--bs-secondary-background);
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/****************** HOME - ADDRESS AND CONTACT ******************/

.address-contact-component{
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .row {
        background-color: var(--bs-dark-green);
    }

    .address-contact-container{
        background-color: var(--bs-dark-green);
        padding: 0;
        
        .address-contact-text-container {
            width: 65%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            h4 {
                color: var(--bs-secondary-background);
                text-align: left;
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }

            p{
                color: var(--bs-lighter-text);
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }

        iframe {
            filter: brightness(90%);
        }
    }

    .map-container{
        background-color: var(--bs-dark-green);
        padding: 0;

        iframe {
            filter: brightness(90%);
        }
    }
}

/****************** HOME - INSTAGRAM FEED ******************/

.feed-component{
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .feed-container {
        width: 50%;
    
        .feed-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            a {
                text-decoration: none;
    
                h3 {
                    color: var(--bs-primary);
                    font-weight: bold;
                }
            }
    
            p {
                text-align: center;
                color: var(--bs-darker-text);
                margin: 0;
            }
        }
    }

    #sbi_images {
        padding: 0;
    }
}


/****************** FOOTER ******************/

.footer{
    background-color: var(--bs-secondary-background);

    .widget {
        margin: 0;
    }
}

.footer-row {
    display: flex;
    background-color: var(--bs-secondary-background);
    padding: 40px 0 40px 0;

    .footer-text-container {
        
        h4 {
            text-align: left;
            letter-spacing: 0px;
            color: var(--bs-darker-text);
        }

        p {
            text-align: left;
            letter-spacing: 0px;
            color: var(--bs-darker-text);
            margin-bottom: 4px;
        }
    }

    .menu-footer-navigation-menu-container {
        display: flex;
        justify-content: flex-end;
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
                margin: 5px 0;
                padding: 0;
    
                a {
                    font-size: 18px;
                    letter-spacing: 0px;
                    color: var(--bs-darker-text);
                    text-decoration: none;
    
                    &:hover {
                        color: var(--bs-primary);
                    }
                }
            }
        }
        
        .current-menu-item {
            a {
                font-size: 18px;
                letter-spacing: 0px;
                color: var(--bs-primary);
                text-decoration: none;
            }
        }
    }

    .some-links {
        margin: 15px 0;

        .some-link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bs-primary);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 5px;
            margin: 0 5px;
        }
    }
}

.footer-end-container {
    background-color: var(--bs-dark-green);
    padding: 10px 16px!important;

    .payment-options-container img {
        margin: 0 10px;
    }
}

/****************** ABOUT US - HERO ******************/
/****************** SHOP - HERO ******************/
/****************** CUSTOM CAKE - HERO ******************/
/****************** CONTACT US - HERO ******************/

.small-hero-component{
    position: relative;
    min-height: 325px;
    background-color: var(--bs-primary-background);

    .small-hero-content-container{
        z-index: 1;
        width: 100%;

        h1 {
            color: var(--bs-lighter-text);
            width: 100%;
            text-align: center;
            margin: 0;
        }
    }

    .bg-image-container{
        width: 100%;
        height: 1005;
        position: absolute;
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            filter: brightness(60%);
        }
    }
}

/****************** ABOUT US - DISCOVER OUR STORY ******************/

.secondary-block-component {
    background-color: var(--bs-primary-background);

    .row{
        padding: 30px 0;
          
        .secondary-block-title {
            
            p {
                text-align: center;
                font-size: 65px;
                font-weight: 600;
                letter-spacing: 0px;
                color: var(--bs-tertiary-background);
            }
        }

        .secondary-block-text-container {
            width: 50%;
            
            h2 {
                color: var(--bs-darker-text);
                text-align: left;
                margin: 0 0 20px 10px;
                width: 90%;
            }

            p{
                color: var(--bs-darker-text);
                margin: 0 0 20px 10px!important;
                width: 90%;
            }
        }
    }
}

/****************** ABOUT US - GALLERY ******************/

.gallery-component {
    background-color: var(--bs-primary-background);

    .row{
        padding: 30px 0;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        margin: 0;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

/****************** ABOUT US - BAKING PHILOSOPHY ******************/

.about-philosophy-component{
    background-color: var(--bs-primary-background);
    margin: 60px 0;

    .about-philosophy-container {
        width: 50%;
    
        .about-philosophy-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }
        }
    }

    .tiles-row {
    
        .card-group {
            padding: 0;

            .tile-dark {
                background-color: var(--bs-tertiary-background);
                border: none;
                border-radius: 0;
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;

                .card-body {
                    padding: 50px;
                    height: 400px;
    
                    h3 {
                        color: var(--bs-lighter-text);
                        font-weight: bold;
                        margin-bottom: 25px;
                        // height: 75px;
                    }
        
                    p {
                        color: var(--bs-lighter-text);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .tile-light {
                background-color: var(--bs-secondary-background);
                border: none;
                border-radius: 0;
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;

                .card-body {
                    padding: 50px;
                    height: 400px;
    
                    h3 {
                        color: var(--bs-darker-text);
                        font-weight: bold;
                        margin-bottom: 25px;
                        // height: 75px;
                    }
        
                    .card-text {
                        color: var(--bs-darker-text);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

/****************** TERTIARY BLOCK ******************/

.tertiary-block-component{
    background-color: var(--bs-primary-background);
    margin: 0;

    .tertiary-block-container {
        width: 50%;
    
        .tertiary-block-text-container {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }
    
            p {
                text-align: center;
                color: var(--bs-darker-text);
                margin: 0;
            }
        }
    }
}



/* .about-contact-component{
    position: relative;
    min-height: 500px;
    margin: 60px 0;

    .about-contact-content-container{
        z-index: 1;

        h2 {
            text-align: center;
            margin-bottom: 15px;
            width: 85%;
            color: var(--bs-lighter-text);
        }
    }

    .bg-image-container{
        width: 100%;
        position: absolute;
        transform-origin: top center;
        transform: scale(1.0);
    
        img {
            width: 100%;
            filter: brightness(60%);
        }
    }
} */

/****************** SHOP ******************/

#cart {
    padding-top: 100px;
}

#checkout {
    padding-top: 100px;
}

.shop-container {
    background-color: var(--bs-primary-background);

    .row{
        padding: 30px 0;

        .shop-sidebar-container {

            .shop-sidebar-content{
                width: 100%;

                h3 {
                    color: var(--bs-darker-text);
                    font-size: 23px;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 15px;
                }
                
                p {
                    color: var(--bs-darker-text);
                    font-size: 17px;
                }

                .btn-primary {
                    border: 1px solid var(--bs-primary);
                    background-color: transparent;
                    color: var(--bs-primary);
                    font-size: 17px;

                    .bi-download {
                        margin-right: 10px;
                    }
                }

                ul.products li.product {
                    background-color: var(--bs-primary-background);
                    box-shadow: none;
                    margin: 10px 2px 10px 0;
                }

                .woocommerce-loop-category__title{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    font-weight: normal;
                    font-size: 17px;
                    color: var(--bs-dark-brown);

                    &:hover {
                        border-radius: 25px;
                        background-color: var(--bs-dark-brown);
                        color: var(--bs-primary);
                    }

                    .count {
                        display: none;
                    }
                }
            }
        }

        .shop-content-container {
            padding: 0 30px;
        }

        .shop-filter-search-container {
            width: 100%;
            margin-bottom: 30px;

            .shop-search {
                .aws-container {
                    width: 60%;
                }
            }
        }
    }

    /****************** SHOP - CART ******************/

    .wp-block-woocommerce-cart{
        width: 100%;

        .wc-block-components-product-name {
            color: var(--bs-primary);
            text-decoration: none;
        }

        ins {
            background: var(--bs-lighter-text);
            color: #B23A1E;
            font-weight: 600;
        }

        .components-button {
            width: 100%;
            padding: 10px 25px;
            border-radius: 24px;
            font-size: 18px;
            color: var(--bs-lighter-text);
            background-color: var(--bs-primary)!important;
        }

        .wp-block-woocommerce-empty-cart-block {
            a {
                color: var(--bs-primary);
                text-decoration: none;
            }

            .wc-block-grid {
                display: none;
            }
        }
    }

    /****************** SHOP - CHECKOUT ******************/

    .wp-block-woocommerce-checkout {
        .wc-block-components-text-input {
            input {
                border-radius: 0;
            }
        }

        .wc-block-components-product-metadata__description {
            display: none;
        }

        ins {
            background: var(--bs-lighter-text);
            color: #B23A1E;
            font-weight: 600;
        }
        
        .wc-block-components-checkout-return-to-cart-button {
            color: var(--bs-primary);
        }

        .components-button {
            width: 50%;
            padding: 10px 25px;
            border-radius: 24px;
            font-size: 18px;
            color: var(--bs-lighter-text);
            background-color: var(--bs-primary)!important;
        }
    }
}

/****************** SHOP - CATEGORIES ******************/

.shop-taxonomy-product-cat-container {
    background-color: var(--bs-primary-background);

    .row{
        padding: 30px 0;

        .shop-sidebar-container {

            .shop-sidebar-content{
                width: 100%;

                h3 {
                    color: var(--bs-darker-text);
                    font-size: 23px;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 15px;
                }
                
                p {
                    color: var(--bs-darker-text);
                    font-size: 17px;
                }

                .btn-primary {
                    border: 1px solid var(--bs-primary);
                    background-color: transparent;
                    color: var(--bs-primary);
                    font-size: 17px;

                    .bi-download {
                        margin-right: 10px;
                    }
                }

                ul.products li.product {
                    background-color: var(--bs-primary-background);
                    box-shadow: none;
                    margin: 10px 2px 10px 0;
                }

                .woocommerce-loop-category__title{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    font-weight: normal;
                    font-size: 17px;
                    color: var(--bs-dark-brown);

                    &:hover {
                        border-radius: 25px;
                        background-color: var(--bs-dark-brown);
                        color: var(--bs-primary);
                    }

                    .count {
                        display: none;
                    }
                }
            }
        }

        .shop-content-container {
            padding: 0 30px;
        }

        .shop-filter-search-container {
            width: 100%;
            margin-bottom: 30px;

            .shop-search {
                .aws-container {
                    width: 60%;
                }
            }
        }
    }
}

/****************** SHOP - SINGLE PRODUCT ******************/

.single-product-container {
    padding-top: 100px;

    .wc-block-components-notice-banner {
        .wc-block-components-notice-banner__content {
            color: var(--bs-darker-text);
            font-size: 16px;
        }
    }

    span.onsale {
        display: none;
    }

    .woocommerce-breadcrumb {
        a {
            color: var(--bs-primary)!important;
            text-decoration: none;
        }
    }

    .product_title {
        font-weight: bold;
        font-size: 42px;
    }

    .sku_wrapper {
        display: none;
    }

    .posted_in {
        font-size: 18px;

        a {
            text-decoration: none;
            color: var(--bs-primary);
        }
    }

    .summary {
        .price {
            font-size: 28px!important;
            color: var(--bs-dark-green)!important;
        }
    }

    del {
        color: var(--bs-dark-green);
    }

    ins {
        color: #B23A1E;
    }

    .single_add_to_cart_button {
        padding: 10px 25px!important;
        border-radius: 25px!important;
        font-size: 18px!important;
        font-weight: normal!important;
        color: var(--bs-lighter-text)!important;
        background-color: var(--bs-primary)!important;
    }

    h2 {
        font-size: 32px;
    }

    #tab-description {
        margin-bottom: 4em;
    }
}

/****************** CUSTOM CAKE - FORM HEADER ******************/

.custom-cake-form-header-component{
    background-color: var(--bs-primary-background);
    margin-top: 30px;

    .custom-cake-form-header-text-container {
        width: 75%;
    
        .custom-cake-form-header-text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }
        }
    }
}

/****************** CUSTOM CAKE - ORDER FORM ******************/

.custom-cake-order-form-component {
    background-color: var(--bs-primary-background);

    .row{
        padding: 20px 0;
                  
        .custom-cake-order-form-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .custom-cake-order-form-container {

            .custom-cake-order-form-content-container {
                .wpforms-container {
                    width: 95%;
                    margin: 0;
        
                    .wpforms-field {
                        padding: 10px 0;
        
                        input {
                            border-radius: 0;
                            border-color: var(--bs-dark-green);
                        }

                        select {
                            border-radius: 0;
                            border-color: var(--bs-dark-green);
                        }

                        .choices__inner {
                            border-radius: 0;
                            border-color: var(--bs-dark-green);
                        }
        
                        textarea {
                            border-radius: 0;
                            border-color: var(--bs-dark-green);
                        }
                    }
        
                    .wpforms-submit-container {
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
        
                        .wpforms-submit {
                            background-color: var(--bs-primary);
                            width: 30%;
                            border-radius: 25px;
                        }
                    }
        
                    .wpforms-confirmation-container-full{
                        background-color: #faf4ec;
                        color: #7a603a;
                        border-color: #7a603a;
                    }
                }
            }
            
            /* form {
                width: 95%;

                h3 {
                    color: var(--bs-darker-text);
                    font-weight: bold;
                }
            }
            
            .form-control{
                border-radius: 0;
                height: 40px;
                background-color: white;
                border-color: var(--bs-dark-green);
                letter-spacing: 0px;
                color: var(--bs-darker-text);
                padding: 6px 12px;
            }

            .form-select {
                border-radius: 0;
                height: 40px;
                background-color: white;
                border-color: var(--bs-dark-green);
                letter-spacing: 0px;
                color: var(--bs-darker-text);
            }
            
            #infoInput {
                height: 128px;
            }

            .form-button-container{
                width: 100%;

                a {
                    .btn-primary{
                        width: 100%;
                        padding: 10px 25px;
                        border-radius: 25px;
                    }
    
                }
            } */
        }
    }
}

/****************** CONTACT US - INFO ******************/

.contact-info-component{
    background-color: var(--bs-primary-background);
    margin-top: 30px;

    .contact-info-text-container {
        width: 50%;
    
        .contact-info-text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    
            h2 {
                text-align: center;
                color: var(--bs-darker-text);
                margin-bottom: 15px;
            }

            h3 {
                text-align: center;
                color: var(--bs-darker-text);
                font-weight: bold;
                margin: 50px 0 0 0;
            }
        }
    }

    .contact-info-container {
        border-right: 2px solid var(--bs-tertiary-background);

        &:last-child{
            border-right: none;
        }

        .contact-info-content {
    
            .contact-info-icon {
                margin-bottom: 10px;
                height: 50px;
    
                img {
                    height: 100%;
                    color: var(--bs-primary);
                }
            }
    
            h4 {
                color: var(--bs-darker-text);
                margin-bottom: 10px;
            }
    
            p {
                color: var(--bs-darker-text);
                margin-bottom: 10px;
            }
        }
    }
}

/****************** CONTACT US - MESSAGE FORM ******************/

.message-form-component {
    background-color: var(--bs-primary-background);

    .row{
        padding: 20px 0;

        .wpforms-container {
            width: 60%;
            margin: 0;

            .wpforms-field {
                padding: 10px 0;

                input {
                    border-radius: 0;
                    border-color: var(--bs-dark-green);
                }

                textarea {
                    border-radius: 0;
                    border-color: var(--bs-dark-green);
                }
            }

            .wpforms-submit-container {
                margin: 0;
                display: flex;
                justify-content: center;

                .wpforms-submit {
                    background-color: var(--bs-primary);
                    width: 23%;
                    border-radius: 25px;
                }
            }

            .wpforms-confirmation-container-full{
                background-color: #faf4ec;
                color: #7a603a;
                border-color: #7a603a;
            }
        }

        /* .contact-form-container {

            form {
                width: 60%;
            }
            
            .form-control{
                border-radius: 0;
                height: 40px;
                background-color: white;
                border-color: var(--bs-dark-green);
                letter-spacing: 0px;
                color: var(--bs-darker-text);
                padding: 6px 12px;
            }
            
            #messageInput {
                height: 128px;
            }

            .form-button-container{
                width: 100%;

                a {
                    .btn-primary{
                        width: 100%;
                        padding: 10px 25px;
                        border-radius: 25px;
                    }
    
                }
            }
        } */
    }
}

/****************** CONTACT US - MAP ******************/

.contact-map-component {
    margin: 50px 0;

    .contact-map-text-container {
        width: 50%;
    
        .contact-map-text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            h3 {
                text-align: center;
                color: var(--bs-darker-text);
                font-weight: bold;
                margin-bottom: 25px;
            }
        }
    }
}

/****************** RESPONSIVNESS ******************/

@media (max-width: 1199.98px) {
    .header .image-container {
        width: 85%;
    }

    .primary-block-component {
        .row {
            justify-content: center!important;

            .primary-block-image {
                margin-bottom: 25px;
            }

            .primary-block-text-container {
                width: 85%;

                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .shop-introduction-component {
        .shop-introduction-container {
            width: 70%;
        }
    }

    .testimonials-component {
        .testimonials-container {
            width: 75%;
        }

        .card-body {
            padding: 0 10px!important;
        }
    }

    .feed-component {
        .feed-container {
            width: 75%;
        }
    }

    .secondary-block-component {
        .row {
            .secondary-block-title {
                p {
                    font-size: 52px;
                }
            }

            .secondary-block-text-container {
                p {
                    width: 100%;
                }
            }
        }
    }

    .about-philosophy-component .tiles-row .card-group {
        .tile-dark {
            .card-body {
                padding: 35px;

                h3 {
                    font-size: 27px;
                }
            }
        }

        .tile-light {
            .card-body {
                padding: 35px;

                h3 {
                    font-size: 27px;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .header .image-container {
        width: 60%;
    }

    .big-hero-component {
        .big-hero-content-container {

            h1 {
                font-size: 45px;
                width: 100%;
            }

            p {
                width: 95%;
            }
        }
    }

    .primary-block-component {
        .row {
            .primary-block-text-container {
                width: 100%;

                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .testimonials-component {
        .card-body {
            padding: 30px!important;
        }
    }

    .address-contact-component {
        .address-contact-container {
            padding: 75px 0;
        }
    }

    .feed-component {
        .feed-container {
            width: 80%;
        }
    }

    .secondary-block-component {
        .row {
            .secondary-block-title {
                p {
                    width: 90%;
                }
            }

            .secondary-block-text-container {
                width: 100%;
            }
        }
    }

    .about-philosophy-component {
        .about-philosophy-container {
            width: 75%;
        }
    }

    .about-philosophy-component .tiles-row .card-group {
        .tile-dark {
            .card-body {
                padding: 115px;

                h3 {
                    font-size: 32px;
                }
            }
        }

        .tile-light {
            .card-body {
                padding: 115px;

                h3 {
                    font-size: 32px;
                }
            }
        }
    }

    .tertiary-block-component {
        .tertiary-block-container {
            width: 100%;
        }
    }
}

@media (max-width: 767.98px) {
    .header .image-container {
        width: 80%;
    }

    .promotion-banner-component {
        h2 {
            font-size: 30px;
        }

        .btn-primary {
            font-size: 15px;
        }
    }

    .shop-introduction-component {
        .shop-introduction-container {
            width: 90%;
        }
    }

    .testimonials-component {
        .testimonials-container {
            width: 90%;

            h2 {
                font-size: 30px;
            }
        }
    }

    .feed-component {
        .feed-container {
            width: 100%;
        }
    }

    .footer {
        .footer-menu-row {
            flex-direction: column;
        }

        h4 {
            font-size: 30px;
        }

        .quicklinks-container{
            .menu {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 25px 15px;

                    a {
                        font-size: 25px;
                    }
                }
            }
        }

        .address-contact-container {
            margin: 40px 0;
        }

        .opening-hours-container {
            justify-content: flex-start!important;
        }

        .some-links-container{
            margin-top: 40px;
            justify-content: flex-start!important;
        }

        p {
            font-size: 25px;
        }
    }

    .secondary-block-component {
        .row {
            .secondary-block-title {
                p {
                    width: 100%;
                }
            }
        }
    }

    .about-philosophy-component {
        .about-philosophy-container {
            width: 80%;
        }
    }

    .about-philosophy-component .tiles-row .card-group {
        .tile-dark {
            .card-body {
                padding: 80px;
            }
        }

        .tile-light {
            .card-body {
                padding: 80px;
            }
        }
    }

    .tertiary-block-component {
        .tertiary-block-container .tertiary-block-text-container {
            h2 {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 550px) {
    .header .image-container {
        width: 90%;
    }

    .big-hero-component {
        .big-hero-content-container {

            h1 {
                font-size: 36px;
            }

            p {
                width: 95%;
            }
        }

        .big-hero-buttons-container {
            .btn-primary {
                font-size: 15px;
                padding: 10px 15px;
            }

            .btn-link {
                font-size: 16px;
            }
        }
    }

    .shop-introduction-component {
        .shop-introduction-container {
            width: 95%;
        }
    }

    .testimonials-component {
        .testimonials-container {

            h2 {
                font-size: 25px;
            }
        }
    }

    .address-contact-component {
        .address-contact-text-container {           
            p {
                font-size: 16px;
            }
        }
    }

    .small-hero-component {
        h1 {
            font-size: 45px;
        }
    }

    .secondary-block-component {
        .row {
            .secondary-block-title {
                p {
                    font-size: 45px;
                }
            }
        }
    }

    .about-philosophy-component {
        .about-philosophy-container {
            width: 95%;
        }
    }

    .about-philosophy-component .tiles-row .card-group {
        .tile-dark {
            .card-body {
                padding: 60px;

                h3 {
                    font-size: 28px;
                }
            }
        }

        .tile-light {
            .card-body {
                padding: 60px;

                h3 {
                    font-size: 28px;
                }
            }
        }
    }

    .tertiary-block-component {
        .tertiary-block-container .tertiary-block-text-container {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 450px) {
    .header .image-container {
        width: 100%;
    }

    .big-hero-component {
        .big-hero-content-container {

            h1 {
                font-size: 28px;
            }

            p {
                font-size: 16px;
                width: 100%;
            }
        }

        .big-hero-buttons-container {
            .btn-primary {
                font-size: 13px;
                padding: 10px 15px;
            }

            .btn-link {
                font-size: 14px;
            }
        }
    }

    .shop-introduction-component {
        .shop-introduction-container {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .promotion-banner-component {
        h2 {
            font-size: 30px;
        }

        .btn-primary {
            font-size: 15px;
        }
    }


    .testimonials-component {
        .testimonials-container {
            width: 100%;

            h2 {
                font-size: 25px;
            }
        }
    }

    .address-contact-component {
        .address-contact-text-container {        
            p {
                line-height: 30px;
            }
        }
    }

    .feed-component {
        p {
            font-size: 15px;
        }
    }

    .small-hero-component {
        h1 {
            font-size: 35px;
        }
    }

    .secondary-block-component {
        .row {
            .secondary-block-title {
                p {
                    font-size: 34px;
                }
            }

            .secondary-block-text-container {
                h2 {
                    font-size: 32px;
                }
            }
        }
    }

    .about-philosophy-component {
        .about-philosophy-container {
            width: 100%;

            h2 {
                font-size: 30px;
            }
        }
    }

    .about-philosophy-component .tiles-row .card-group {
        .tile-dark {
            .card-body {
                padding: 40px;

                h3 {
                    font-size: 26px;
                }
            }
        }

        .tile-light {
            .card-body {
                padding: 40px;

                h3 {
                    font-size: 26px;
                }
            }
        }
    }

    .tertiary-block-component {
        .tertiary-block-container .tertiary-block-text-container {
            h2 {
                font-size: 24px;
            }
        }
    }
}